body,
html {
    height: 100%;
}

.bg {
    display: block;
    position: fixed;
    width: 100%;
    z-index: -10;

    /* The image used */
    background-image: url("../assets/console/background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trim-tb {
    padding-top: 0.45rem !important;
    padding-bottom: 0.45rem !important;
}

.is-grey {
    background-color: rgb(31, 31, 41) !important;
}

.section,
.message {
    background: inherit;
}

.message {
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
    -moz-animation: transitionIn 1s;
    -o-animation: transitionIn 1s;
}

.feed-anim {
    animation: transitionIn 0.75s;
    -webkit-animation: transitionIn 0.75s;
    -moz-animation: transitionIn 0.75s;
    -o-animation: transitionIn 0.75s;
}

.acrylic,
.dark-acrylic {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: inherit;
    overflow: hidden;
    z-index: 1;
}

.acrylic::after,
.dark-acrylic::after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(2, 44, 128, 0.5);
    filter: blur(10px);
    margin: -20px;
    z-index: -1;
}

.dark-acrylic::after {
    box-shadow: inset 0 0 2000px rgba(71, 71, 87, 0.65);
    filter: blur(30px);
}

.hero-body h6 {
    font-size: 13pt;
}

#feedback {
    min-height: 26rem;
    max-height: 26rem;
    margin-bottom: 35px;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

#feedback::-webkit-scrollbar {
    display: none;
}

#input {
    background: transparent !important;
    color: #ffffff;
}

#input::placeholder {
    color: #bebebe;
}

#sendBTN {
    vertical-align: middle;
    padding-left: 0.4rem;
    padding-right: 0.6rem;
    font-family: "Roboto Mono";
}

#sendBTN i {
    margin-right: 2px;
}

.mono {
    font-family: "Ubuntu Mono", monospace;
}

.system {
    font-family: "Roboto Mono", monospace;
    font-size: 11pt;
    color: springgreen;
}

.system-info {
    color: deepskyblue;
}

.system-error {
    color: crimson;
}

.system-warning {
    color: yellow;
}

.new-message {
    font-family: "Roboto Mono", monospace;
    font-size: 11pt;
    font-weight: bold;
    color: #ffffff;
}

@media screen and (min-width: 1024px) {
    .section {
        padding: 4rem 6rem;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0)
    }
}